/* Debug - delete later */

.debug header{
    height:80px;
    background-color: red;
}

.debug .jumbotron{
    height:600px;
    background-color: blueviolet;
}

.debug section{
    height:800px;
    background-color: aqua;
    margin-bottom:10px;
}

.debug footer{
    height:300px;
    background-color: #000;
}

.debug-column .col, .debug-column [class*="col-"]{
    width:350px;
    height:250px;
    background-color: green;
}

.debug .btn-download{
    width:120px;
    height:80px;
    background-color: pink;
}