/* Common */

#jumbotron, #about{
    background-color: #1abc9c;
    color:#fff;
}

/* Text */

html{
    font-size: 16px;
}

h1, h2{
    font-weight:bold;
}

h1{
    font-size:2rem;
}

p{
    font-size:1.3rem;
}

.caption{
    font-size:0.8rem;
    margin:0;
}

.p-normal{
    font-size:1rem;
}

.star::before, .star::after{
    content:'';
    display: inline-block;
    vertical-align: middle;
    width: 120px;
    height:3px;

    background-color: #000;
}

#jumbotron .star::before, #jumbotron .star::after,
#about .star::before, #about .star::after{
    background-color: #fff;
}

.star svg{
    vertical-align: middle;
    margin:0 10px;
}

/* Header */

header{
    color: #fff !important;
}

.bg-navbar{
    height:90px;
    background-color: #2c3e50 !important;
    position: fixed;
    top:0;
    left:0;
    width:100%;
}

/* Jumbotron */

#jumbotron{
    padding:150px 0 60px 0;
}

#jumbotron p{
    font-size: 1rem;
}

/* Portfolio */

.portfolio-grid img{
    width:100%;
    border-radius: 0.5rem;
}

/* Form */

.contact-form input, .contact-form textarea{
    padding:0 0 10px 0;
    border-top:none;
    border-left:none;
    border-right:none;
    border-radius:0;
}

.contact-form input::-webkit-input-placeholder, .contact-form textarea::-webkit-input-placeholder{
    color:#000;
}

.btn-green{
    color: #fff;
    background-color: #1abc9c;
    border-color: #1abc9c;
}

.btn-green:hover{
    color: #fff;
    background-color: #1fac9c;
    border-color: #1fac9c;
}

/* Footer */

.footer-top{
    background-color: #3a546d;
    color:#fff;
}

.footer-bottom{
    background-color: #2c3e50;
    color:#fff;
}

.green-link, 
.green-link:hover, 
.green-link:visited,
.green-link:focus,
.green-link:active{
    color:#1abc9c;
    text-decoration: none;
}

.social-container i{
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    line-height: 38px;
}


/* Media queries */

/* @media screen and (min-width:576px){

} */

@media screen and (min-width:768px){
    
    /* Font scale */
    h1{
        font-size:4rem;
    }

    #jumbotron p{
        font-size: 1.2rem;
    }

    /* Footer */
    .footer-top [class*="col-"]{
        margin-bottom:30px;
    }
}

@media screen and (min-width:1200px){
    .social-container i{
        width:50px;
        height:50px;
        border:1px solid #fff;
        line-height: 47px;
    }
}